body{
background-image:url('2.jpg');
background-size:cover;
}
a{
text-decoration:none;
color:white;
}
td{
color:white;
font-size:20px;
margin-left:10px;
cellpadding:25px;
}
.contact{
background-color:black;
height:150;
}
p{
color:black;
font-size:18px;
}
h3{
color:#772432;
font-size:20px;
}
h1{
color:#772432;
}
li{
font-size:18px;
}
.abouttm{
color:#772432;
}
.register{
border-style:solid;
border-width:medium;
border-color:black;
}
th.color{
font-size:20px;
border-left:solid;
border-color:white;
}
.events{
background-image:url('upcoming-events.jpg');
height:350;
width:500;
}
th.color:hover{
background-color:grey;
}
a:active{
color:yellow;
}
div.wrap{
height:320;
width:520;
border-radius: 10px;
background:black;
position:relative;
}
.black{
color:black;
}
.home{
height:300;
width:100%;
background-color:#772432;
}
.bhome{
background-color:white;
color:#772432;
margin: 8px 4px;
border-radius:50%;
}
.para{
color:white;
}
#para{
margin-top:50px;
margin-left:150;
margin-right:150;
font-size:20px;
}
#head{
font-size:35;
}